<% var extraCSS = '/Stylesheets2/quiz.css'; %>

<div class="app">
    <h1>Quiz Results</h1>
    <p>You scored <%= score %> out of <%= total %></p>
    <a href="/quiz"><button>Try Again</button></a>
</div>
